/*==============================
  ||     TABLE OF CONTENTS    ||
  ==============================
	01. Formatting
	02. Navigation
	03. Main Header
	04. Header Media Queries
	05. Slidebar 
	06. Slidebar Main Menu
	07. Slidebar Borders
	08. Project Hover
	09. Footer 
  ==============================*/

/*****************************/
/*      01. Formatting      */
/***************************/
body { 
	font-family: 'Raleway', sans-serif;
	margin: 0;
	font-size: 14px;
	line-height: 1.231;
	overflow-x: hidden;
}
#aboutMe, #projects {
	margin: 0;
	padding-bottom: 20px;
	'-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	opacity: .95;
	padding-top: 20px;
}
body, button, input, select, textarea { font-family: 'Raleway', sans-serif; color: #222; }
h1, h2, h3, h4, h5, p { font-family: 'Raleway', sans-serif; }

/*****************************/
/*      02. Navigation      */
/***************************/
.navbar {
	box-shadow: /* Shadow beneath the bar and edge highlights; layered single pixel shadows to create a one sided shadow effect. */
		0 5px 0 0 rgba(0, 0, 0, 0.01),
		0 4px 0 0 rgba(0, 0, 0, 0.02),
		0 3px 0 0 rgba(0, 0, 0, 0.04),
		0 2px 0 0 rgba(0, 0, 0, 0.06),
		0 1px 0 0 rgba(0, 0, 0, 0.08),
		0 1px 0 0 rgba(255, 255, 255, 0.1) inset, /* Left highlight */		
		1px 0 0 0 rgba(255, 255, 255, 0.1) inset, /* Left highlight */		
		-1px 0 0 0 rgba(255, 255, 255, 0.1) inset, /* Right highlight */
		0 -1px 0 0 rgba(0, 0, 0, 0.1) inset; /* Bottom lowlight */	
	border: none; /* Bootstrap Change */
	width: 100%; /* Bootstrap Change */
	left: auto; /* Bootstrap Change */
	right: auto; /* Bootstrap Change */
}
#logo { 
	margin-top: 4px;
	text-align: center;
	color: #fff;
	font-size: 25px;
}
.navbar .sb-toggle-left {
	width: 58px;
	float: left;
	padding: 14px;
}
.navicon-line {
	width: 24px;
	height: 4px;
	border-radius: 1px;
	margin-bottom: 3px;
	background-color: #fff;
}
.sb-toggle-left, .sb-open-left, .sb-close { cursor: pointer; }

/*****************************/
/*     03. Main Header      */
/***************************/
#mainHeader a { text-decoration: none; }
#mainHeader a:hover { text-decoration: none; }
#mainHeader #mainHeader-img {
	width: 100%;
	margin-bottom: 20px;
	background-image: url('../img/khurley.jpg');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}
#mainHeader p.lead {
	position: absolute;
	right: 10px;
	color: #F5F5F5;
	text-align: right;
	font-weight: bold;
	text-shadow: 1px 1px #767676;
}
.navbar-default {
	background-color: #000;
	border-color: #000;
}

/*****************************/
/* 04. Header Media Queries */
/***************************/
@media (max-width: 800px) { /* Small/Medium Screens: < 800px */
	#mainHeader #mainHeader-img { height: 300px; }
	#mainHeader p.lead { top: 300px; }
}
@media (min-width: 800px) { /* Large Screens: > 800px */
	#mainHeader #mainHeader-img { height: 500px; }
	#mainHeader p.lead { top: 500px; }
}

/*****************************/
/*      05. Slidebar        */
/***************************/
#sb-site { box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3); padding: 50px 0 30px 0; } /* Shadow cast onto the slidebars when opened. */
.sb-slidebar { background-color: #000; color: #e8e8e8; } /* Background & Text Color */
.sb-slidebar a { color: #FFF; text-decoration: none; }
.sb-slidebar a:hover { color: #FFF; text-decoration: underline; } /* Link hover color & decoration */

/*****************************/
/*  06. Slidebar Main Menu  */
/***************************/
.sb-menu { /* Apply to <ul> or <ol>. */
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.sb-menu li {
	width: 100%;
	padding: 0;
	margin: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background color you set. */
	border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background color you set. */
}
.sb-menu li a {
	width: 100%; /* Makes links full width. */
	display: inline-block;
	padding: 1em; /* Creates an even padding the same size as your font. */
	color: #f2f2f2;
}
.sb-menu > li:first-child { border-top: none; } /* Removes top border from first list item.. */
.sb-menu > li:last-child { border-bottom: none; } /* Removed bottom border from last list item. */
.sb-menu li a:hover { text-decoration: none; background-color: rgba(255, 255, 255, 0.05); } /* Will lighten any background color you set. */

/*****************************/
/*   07. Slidebar Borders   */
/***************************/
.sb-left .sb-menu li a { border-left: 3px solid transparent; }
.sb-left .sb-menu li a:hover { border-left: 3px solid; } /* Removes transparent color, so border color will be the same as link hover color. */

/*****************************/
/*     08. Project Hover    */
/***************************/
#hover-img .thumbnail { 
	position: relative; 
	overflow: hidden; 
}
#hover-img .caption { 
	display: none; 
	text-align: center; 
	position: absolute; 
	top: 0; 
	left: 0; 
	background: rgba(0, 0, 0, 0.4); 
	width: 100%; 
	height: 100%; 
	color: #fff !important; 
}
#hover-img .caption p { 
	padding: 6px;
}
#hover-img .caption-btm { 
	background: rgba(0, 0, 0, 0.6); 
	width: 90%; 
	height: 40px; 
	position: absolute; 
	bottom: 4px; 
	color: #fff; 
	display: table; 
	width: 100%; 
}
#hover-img .caption-btm p { 
	text-align: center; 
	font-size: 1.17em; 
	display: table-cell; 
	vertical-align: middle; 
}

/*****************************/
/*       09. Footer         */
/***************************/
#footer { text-align: center; }