@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Candal');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}

h1,h2,h3,h4 {
  font-family: 'Candal';
  font-weight: 700;
  text-transform: uppercase;
}
h5,h6 {
  font-family: 'Open Sans';
  font-weight: 700;
}
#projects h5 {
  visibility: hidden;
}
h1 {
  letter-spacing: 5px;
  text-shadow: 2px 2px #161012;
}
h2 {
  letter-spacing: 3px;
}
h3,h4 {
  letter-spacing: 1px;
  text-align: center;
}
a {
  color: #333333;
}
.jumbotron p {
  text-shadow: 1px 1px #161012;
}
:focus, :hover {
	border:2px #FE3D33;
	outline: 0;
	-webkit-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}
a:hover,
a:focus,
.hover {
  color: #FE3D33;
  text-decoration: none;
  font-weight: bold;
}
img:hover,
a:focus img,
.hover {
  opacity: 0.8;
  background: rgba(254, 61, 51, 1);
}
.navbar {
  background: #D4E2E3;
  background: linear-gradient(#D4E2E3, #FFF);
  border-bottom: blue;
  margin-bottom: 0;
}
.navbar ul {
  margin-bottom: 0;
}
.navbar li {
  display: block;
  margin: 15px 0;
}
p > a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #FE3D33;
  background: transparent;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  font-size: 20px;
  background: transparent;
}
.navbar-default .navbar-nav>li>a {
  color: #2B3E42;
}
.navbar a,
.navbar a:link,
.navbar a:visited,
.navbar a:active {
  font-family: 'Candal';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  border-bottom: 0;
  padding: 0;
}
.nav {
  margin: 0;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: transparent;
}
.navbar-collapse {
  width: 100%;
  border: none;
  box-shadow: none;
}
@media(min-width: 768px) {
  .navbar {
    padding: 0;
    height: 50px;
  }
  .navbar li {
    display: inline-block;
    margin: 0 10px;
  }
  .navbar a,
  .navbar a:link,
  .navbar a:visited,
  .navbar a:active {
    line-height: 50px;
  }
  .navbar-nav,
  .navbar-nav > li {
    float: none;
  }
}
.jumbotron {
  padding: 20em 0em 1em 2em;
  color: white;
  text-align: left;
	width: 100%;
	margin-bottom: 100px;
	background-image: url('../img/khurley.jpg');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}
section {
  margin: 60px auto;
}
section > .container > .row {
  border-top: 2px solid #747E80;
  margin: auto;
  padding-top: 60px;
}
footer > .container {
  border-top: 2px solid #747E80;
  width: 90%;
  padding-top: 60px;
}
section:first-of-type > .container > .row {
  border-top: 0;
  padding-top: 0;
}
#about .list-unstyled {
  margin-top: 30px;
}
@media(min-width: 768px) {
  #about .list-unstyled {
    margin-top: 0;
  }
}
#about .list-unstyled li {
  margin-bottom: 10px;
}
#about .glyphicon {
  font-size: 25px;
  margin-right: 10px;
  vertical-align: middle;
}
footer {
  margin: 60px 0;
}
#copyright {
  padding-top: 3em;
}
