<section>

    <mat-card class="mat-elevation-z0">
        <h2>Projects</h2>
    </mat-card>

    <div class="projects">
        <div fxLayout="row wrap" fxLayoutGap="5% grid">   
            <div fxFlex="{{flexPct}}" fxLayoutAlign="stretch" *ngFor="let project of projects">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>{{project.name}}</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <!-- Image dimensions: 740 x 523 -->
                    <img mat-card-image src="/assets/img/{{project.img}}" alt="{{project.name}} application screenshot">
                    <mat-card-content>
                        <p>{{project.desc}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a color="accent" mat-raised-button href="{{project.url}}" target="_blank">
                            Explore<span class="visually-hidden">, opens in a new window</span>
                        </a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

</section>