header {
    width: 100vw;
    height: 75vh;
    background: url('http://geospatialem.github.io/img/khurley.jpg') no-repeat top center;
    background-position: center right;
    background-size: cover;
}

mat-toolbar {
    background: #ffffff33
}